__pycache__/
**/arxiv_data/**
backend/arxiv_zarr/
backend/models/
backend/arxiv_faiss_zarr.py
backend/check_safe_tensor.py
backend/get_efsearch_data.py
backend/rag_hf.py
backend/usage.md
backend/test_latency.py
backend/api_for_hfmodel.py
backend/bench_index_size.py
backend/build_benchmark_result/
backend/arxiv_data
